body {
  margin: 0px;
  background-image: url("image.png");
  font-family: "Baloo Paaji 2", cursive;
}

header {
  display: flex;
  justify-content: center;
  height: 10rem;
}

#logo {
  width: auto;
  height: 12rem;
  text-align: center;
}

main,
#filter-container,
#number-of-results {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#filter-container {
  margin-bottom: 2em;
}

figure {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 18rem;
  margin: 0px;
  background-color: white;
  color: black;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 15rem;
  border-radius: 6px;
  height: 14rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 57px;
}

.character-name {
  color: rgba(0, 53, 102, 1);
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.status {
  height: 3px;
  width: 3px;
  margin: 15px 6px 0px 0px;
  border: solid;
  border-radius: 20px;
  font-size: x-large;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  transition: 0.5s;
}

aside {
  color: white;
}

#infoCharacter {
  gap: 5rem;
}

.information {
  font-size: 1.3em;
}

figure:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
  height: 25rem;
}

main figure:hover .information {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

main figure .information {
  position: relative;
  top: -51px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter {
  margin-right: 11em;
  margin-bottom: 2em;
  border-style: solid;
  border-radius: 8px;
  width: 4em;
  height: 3em;
  border-color: rgba(127, 250, 103, 1);
  background-color: rgba(2, 177, 200, 1);
  align-self: flex-end;
}

.categorie,
#inicio,
#sort {
  width: 18rem;
  height: 2.5rem;
  border-radius: 8px;
  font-family: "Baloo Paaji 2", cursive;
  color: #003566;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-color: rgba(127, 250, 103, 1);
}

.categorie:hover,
#inicio:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
}

#inicio,
#sort {
  color: white;
  background-color: rgba(37, 183, 9, 1);
}

#sort {
  width: 6rem;
}
#sort:hover {
  box-shadow: 0px 0px 10px 10px rgba(127, 250, 103, 0.51);
}
@media only screen and (max-width: 576px) {
  .categorie {
    width: 7rem;
  }
}
#number-of-results {
  color: white;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 0px;
}

#number-results {
  color: rgba(37, 183, 9, 1);
}